html, body {
  height: 100%;
  font-family: 'courier new', 'Open Sans', sans-serif
}

body {
  background-color: rgb(238, 255, 5);
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 2px rgb(179, 38, 38) solid;
  border-radius: 0%;
  background-color: rgb(255, 255, 255);
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: rgb(255, 250, 250);
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: no-repeat center/100% url("images/crate.jpg")
  /*background: #eee;*/
}

div.hidden:hover {
  background: no-repeat center/100% url("images/crate.jpg");
  border-color: rgb(9, 238, 39);
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}

button {
  font-family: 'courier new', 'Open Sans', sans-serif;
  margin: 15px;
}

p {
  text-align: center;
}