body {
    border-top: 5px solid #607079;
}
.blog-post {
    margin: 300px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.col-4 {
    margin-top: 20px;
    margin-left: 300px;
}

.blog-footer {
    margin-left: 1300px;
    margin-bottom: 100px;
}

.bottom-ruler {
    margin-left : 100px;
    margin-right : 100px;    
}

