body {
    border-top: 5px solid #607079;
}
.blog-post {
    margin: 100px;
    margin-top: 50px;
}

.col-4 {
    margin-top: 20px;
    margin-left: 100px;
}

.blog-footer {
    margin-left: 1300px;
    margin-bottom: 100px;
}

